# Project exclude paths
/.gradle/
/app/build/
/app/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/glass/build/
/glass/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/local.properties
/aos.keystore
/doc/技术实现说明与操作指南.md
/.idea/
/app/release/baselineProfiles/0/app-release.dm
/app/release/baselineProfiles/1/app-release.dm
/glass/release/glass.apk
/glass/release/baselineProfiles/0/glass-release.dm
/glass/release/baselineProfiles/1/glass-release.dm
/app/release/mobile.apk
/app/release/output-metadata.json
/glass/release/output-metadata.json
